Makefile
Makefile.in
Makefile.in.in
configure
config.log
config.status
aclocal.m4
ChangeLog
autom4te.cache/
po/POTFILES
po/stamp-it
data/weather-settings.desktop
staging/
/dist/

*~
*.gmo
metadata.json
*.gschema.xml
*.gschema.valid
/gnome-shell-extension-grub*

/src/config.js
/autoscan.log
/configure.scan
/data/org.gnome-shell-extension-grub.*.policy
